<p>
    Here are the images in: {{sCol.currentCol.name}}

</p>
<tr *ngFor='let a of sCol.currentCol.imageUrls;'>

    <img height="100" width="100" src={{a}} routerLink="/full-image" (click)='genServ.imageAndCollection(a,sCol.currentCol)'>

</tr>

<div>
    <h2>Rating </h2>
    <select #rate>
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
    </select>

    <br/>
    <br/>
    <button (click)="updateRating(rate.value)">Rate</button>
</div>