
<div class="container">
  <button (click)='getSPolicy()'>get</button>
  <h2>Privacy Policy</h2>  
  <br/><br/>

  {{ this.getLatest().pPolicy }}

</div>

<div class="container">
  <h2>Security Policy</h2>
  <br/><br/>
  {{ this.getLatest().sPolicy }}
  

</div>


<div class="container">
  <h2>DMCA and Takedown Policy</h2>
  <br/><br/>

  {{ this.getLatest().dmcaPolicy }}
  
</div>

<div class="container">
    <h2>DMCA and Takedown Contact</h2>
    <br/><br/>
  
    {{ this.getLatest().contact }}
    
  </div>