<html>
<div class="container" *ngIf="afAuth.authState | async; let user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
    <h2>Login</h2>
    <button (click)="login()">Login with Google</button>

  <p>Register with email and password</p>
  Email: <input type="text" name="email" value="name@example.com"><br>
  Password: <input type="text" name="pass" value="***"><br>
  
  <button (click)="registerWithEmail('test@you.me', 'ewaeds')">Register</button>
  
</ng-template>
</html>