
    <div *ngIf="genServe.afAuth.authState | async; let user; else showLogin">
      <p>Welcome: {{ user.email }}
        <button (click)="genServe.globalLogout()">Logout</button>              
      </p>   
      
    </div>
    <ng-template #showLogin >
      <a routerLink="/login">LOGIN</a>
    </ng-template>
    
<ul>
  <li><a routerLink="/home">HOME</a></li>
  <li *ngIf="genServe.afAuth.authState | async; let user;"><a routerLink="/searchNasa">SEARCH</a></li>
  <li *ngIf="genServe.afAuth.authState | async; let user;"><a routerLink="/public-collections">ALL PUBLIC COLLECTIONS</a></li>
  <li><a routerLink="/about">ABOUT</a></li>
  <li><a routerLink="/policies">LEGAL</a></li>
      
  <li *ngIf="genServe.isAdmin() == true ;"><a  routerLink="/dmca-admin-tool">DMCA ADMIN TOOL</a></li>

</ul>
<router-outlet></router-outlet>
