<div *ngIf="genServe.afAuth.authState | async; let user; else showPublicTen">

    <button routerLink="/user-collection">Create a New Collection</button>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Ranking</th>

        </tr>
        <tr *ngFor='let a of colLoad.data;'>
            <td>
                <button routerLink="/single-collection" (click)='sCol.showSingleCollection(a._id)'>{{a.name}}</button>
            </td>
            <td>{{a.rating}}</td>
        </tr>
    </table>

</div>
<ng-template #showPublicTen>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Ranking</th>
            <th>Visability</th>
            
        </tr>
        <tr *ngFor='let a of colLoad.dataS;'>
            <td>
                <button routerLink="/single-collection" (click)='sCol.showSingleCollection(a._id)'>{{a.name}}</button>
            </td>
            <td>{{a.rating}}</td>
            <td>{{a.visability}}</td>
        </tr>
    </table>
</ng-template>