/* You can add global styles to this file, and also import other style files */

html{
    font-family: sans-serif;
}
h2,h3{
    color:#555;
    font-family: sans-serif;
}

.container{
    padding: 30px;
    font-family: sans-serif;
    color:#555;
    
    
}